@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-primary: #ff7b54;
  --color-secondary: #ffffff;
  --color-speaker-secondary: #999;
  --font-family: "Inter", sans-serif;
  --btn-bg-primary: var(--color-secondary);
  --btn-bg-secondary: var(--color-primary);
  --btn-text-primary: var(--color-primary);
  --btn-text-secondary: var(--color-secondary);
  --btn-border: var(--color-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-family);
  color: var(--color-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header > .header__link {
  font-size: 2.5rem;
  font-weight: bold;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.nav > .nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 2rem;
  font-size: 1.2rem;
}

.button {
  padding: 0.7rem 1.4rem;
  border: 1px solid var(--btn-border);
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.button--primary {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
}
.button__div-primary {
  display: flex;
  align-items: center;
}

.button--secondary {
  background-color: var(--btn-bg-secondary);
  color: var(--btn-text-secondary);
}

/* for menu responsive: */
.menu {
  display: none;
}

.close {
  display: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row-reverse;
  }

  .header > div {
    /* display: none; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 70px;
    left: -200%;
    background-color: var(--color-primary);
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    transition: all 0.2s linear;
  }
  .header > div.active {
    left: 0;
  }

  .header > div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .menu {
    display: block;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .menu:hover {
    cursor: pointer;
  }
  .close:hover {
    cursor: pointer;
  }
}
